body,
h3,
p {
  margin: 0;
}
div,
nav,
main,
input,
textarea {
  box-sizing: border-box;
}
.nav_bar {
  width: 100vw;
  background-color: #0e2954;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: blur(5px);
  transition: filter 0.5s ease;
}

.nav_item {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #0e2954;
  border: none;
  font-size: 25px;
  margin: 40px;
  transition: all 0.2s;
  font-family: "MBC1961GulimM";
}
.nav_item:hover {
  color: #1f6e8c;
  border-bottom: 10px solid white;
  cursor: pointer;
}
/* 화면1 -  home */
main > div {
  width: 100vw;
  height: 90vh;
}

/* 내용시작 */

.banner {
  width: 100vw;
  height: 40vh;
  border: 3px solid black;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url(../HTML/헬스장.avif);
  background-repeat: no-repeat;
  background-color: #0e2954;
  background-size: 100vw 40vh;
  z-index: 1;
  opacity: 0.8;
  filter: blur(5px);
  transition: filter 0.5s ease;
}
.banner_textbox {
  position: absolute;
  display: flex;
  right: 15%;
  bottom: 10%;
  width: 30vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.banner_text_box1 {
  color: white;
}
.banner_text1 {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.banner_text2 {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

/* 여기까지 배너---------------------------------- */
.lower_content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.lower_left_content {
  /* border: 3px solid #7a95e6; */
  background-color: #c0eaf5;
  width: 40vw;
  height: 45vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lower_right_content {
  display: flex;
  background-color: #c0eaf5;
  width: 60vw;
  height: 45vh;
  border-radius: 30px;
  position: relative;
  filter: blur(5px);
  justify-content: space-between;
  transition: filter 0.5s ease;
}
.progressbar_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 85%;
  height: 100%;
}
.box {
  background-color: #0e2954;
  border-radius: 15px;
  width: 95%;
  height: 23%;
}

/* 바 정보 */
.progress_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag {
  position: relative;
  top: 15px;
  left: 20px;
  color: white;
  font-weight: 800;
}
.user_percent {
  position: relative;
  top: 15px;
  right: 25px;
  background-color: aliceblue;
  width: 60px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  font-weight: 800;
}

/*프로그레스바 */
.progress_area {
  width: 100%;
  height: 20px;
  background: #e1e1e1;
  margin-top: 30px;
  position: relative;
}

.progress {
  width: 0;
  max-width: 100%;
  position: absolute;
  height: 100%;
  transition: all 5s;
  background-color: #2e8a99;
  /* left: 30%; */
}
.textbox {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.text_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: 800;
  height: 900%;
}
i {
  font-size: 20px;
}

.modal_input {
  text-align: center;
}

.fi-rs-bread {
  color: #e6a356;
}
.fi-br-egg {
  color: #ffee00;
}
.fi-rs-meat {
  color: #ffa88f;
}

@media screen and (max-width: 768px) {
  #inner_content {
    display: flex;
    flex-direction: column;
  }
  #info1 {
    width: 100%;
  }
  #info2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav_bar {
    width: 100%;
    height: fit-content;
  }

  .nav_item {
    font-size: 15px;
    margin: 15px;
  }
}

.off_filter_blur {
  filter: blur(0px);
}
