body,
h3,
p {
  margin: 0;
}
div,
nav,
main,
input,
textarea {
  box-sizing: border-box;
}
.nav_bar {
  width: 100vw;
  background-color: #0e2954;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_item {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #0e2954;
  border: none;
  font-size: 25px;
  margin: 40px;
  transition: all 0.2s;
  font-family: "MBC1961GulimM";
}
.nav_item:hover {
  color: #1f6e8c;
  border-bottom: 10px solid white;
  cursor: pointer;
}
/* 화면1 -  home */
main > div {
  width: 100%;
  height: 90vh;
}

/* 내용시작 */
.carousel_container {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
}

.carousel {
  width: 300vw;
  height: 40vh;
}
.banner {
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url(../HTML/헬스장.avif);
  background-size: 100vw 40vh;
  z-index: 1;
  opacity: 0.8;
}
#carousel_box2 {
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  background-image: url(../HTML/헬스장2.jpeg);
  background-size: 100vw 40vh;
  z-index: 1;
  opacity: 1;
}

.carousel_text2 {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 10%;
  left: 15%;
  display: flex;
  align-items: center;
  color: white;
}

.carousel_text3 {
  color: black;
}
#carousel_box3 {
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url(../HTML/헬스장3.jpeg);
  background-size: 100vw 40vh;
  z-index: 1;
  opacity: 0.8;
}
.banner_textbox {
  position: absolute;
  display: flex;
  right: 15%;
  bottom: 5%;
  width: 30vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
}
.banner_textbox2 {
  width: 100%;
  height: 80%;
}
.banner_text1 {
  color: white;
  font-size: 27px;
  font-style: italic;
  font-weight: bold;
}
.banner_text2 {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.carousel_container > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}
.prev,
.next {
  text-align: center;
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 1;
  background-color: transparent;
  border: none;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}

/* 여기까지 배너---------------------------------- */
.lower_content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.lower_left_content {
  background-color: #c0eaf5;
  width: 40vw;
  height: 45vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lower_right_content {
  display: flex;
  background-color: #c0eaf5;
  width: 60vw;
  height: 45vh;
  border-radius: 30px;
  position: relative;
  filter: blur(5px);
  justify-content: space-between;
  transition: filter 0.5s ease;
}
.progressbar_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 85%;
  height: 100%;
}
.box {
  background-color: #0e2954;
  border-radius: 15px;
  width: 95%;
  height: 23%;
}

/* 바 정보 */
.progress_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  align-items: center;
}

.tag {
  position: relative;
  left: 20px;
  color: white;
  font-weight: 800;
  animation: moving 1s ease-in infinite;
}
.user_percent {
  position: relative;
  right: 25px;
  background-color: aliceblue;
  width: 60px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
  font-weight: 800;
}

/*프로그레스바 */
.progress_area {
  width: 100%;
  height: 20px;
  background: #e1e1e1;
}

.progress {
  width: 0;
  max-width: 95%!important;
  position: absolute;
  height: 5%;
  transition: all 5s;
  background-color: #2e8a99;
}

.textbox {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.text_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: 800;
  height: 900%;
}
.progress_info_icon {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

i {
  font-size: 20px;
}

.modal_input {
  text-align: center;
}

.fi-rs-bread {
  color: #e6a356;
}

.fi-br-egg {
  color: #ffee00;
}
.fi-rs-meat {
  color: #ffa88f;
}

.prev_icon,
.next_icon {
  font-size: 40px;
  color: grey;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  #inner_content {
    display: flex;
    flex-direction: column;
  }
  #info1 {
    width: 100%;
  }
  #info2 {
    width: 100%;
  }
  .nav_bar {
    width: 100%;
    height: fit-content;
  }

  .nav_item {
    font-size: 15px;
    margin: 15px;
  }
}

@keyframes moving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


